:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 188, 171, 206;
  --background-end-rgb: 245, 239, 223;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    rgba(127, 85, 165, 0.5) 0deg,
    rgba(127, 85, 165, 0.3) 55deg,
    rgba(127, 85, 165, 0.2) 120deg,
    rgba(152, 85, 165, 0.1) 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(133, 59, 129, 0)
  );

  --tile-start-rgb: 221, 205, 229;
  --tile-end-rgb: 245, 240, 229;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 221, 210, 215;
  --callout-border-rgb: 168, 145, 147;
  --card-rgb: 191, 174, 194;
  --card-border-rgb: 154, 133, 136;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Updated color palette */

:root {
  --background-start-rgb: 188, 171, 206;
  --background-end-rgb: 245, 239, 223;
  --tile-start-rgb: 221, 205, 229;
  --tile-end-rgb: 245, 240, 229;
  --callout-rgb: 221, 210, 215;
  --callout-border-rgb: 168, 145, 147;
  --card-rgb: 191, 174, 194;
  --card-border-rgb: 154, 133, 136;
}

/* Updated glow and fonts */

:root {
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    rgba(165, 85, 165, 0.5) 0deg,
    rgba(165, 85, 165, 0.3) 55deg,
    rgba(165, 85, 165, 0.2) 120deg,
    rgba(165, 85, 165, 0.1) 160deg,
    transparent 360deg
    background-color: 'black'
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
